/* src/index.css */

/* RESET BASE */
* {
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Fondo general */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

/* React Flow */
.react-flow {
  width: 100%;
  height: 100%;
  isolation: isolate;
}
